.schedule {
  text-align: center;
  padding: 60px 0;
  height: 100%;
  background-color: #f7f7f8; }
  .schedule .days {
    height: 60px; }
    .schedule .days .day {
      float: left;
      width: 270px;
      margin-right: 6px;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      font-size: 16px;
      background-color: #ebebec; }
      .schedule .days .day.on, .schedule .days .day:hover {
        cursor: pointer;
        background-color: #ef513c;
        color: #FFFFFF; }
    .schedule .days .day:last-child {
      margin-right: 0px; }
  .schedule .day_concept {
    height: 212px;
    padding-top: 68px;
    position: relative; }
    .schedule .day_concept .date {
      font-size: 22px;
      color: #ef513c; }
    .schedule .day_concept .concept_title {
      margin-top: 29px;
      font-size: 28px;
      font-weight: bold; }
    .schedule .day_concept .concept_description {
      font-size: 14px;
      margin-top: 17px; }
    .schedule .day_concept .day_location {
      margin-top: 25px;
      font-size: 14px; }
    .schedule .day_concept .balloon {
      position: absolute;
      width: 313px;
      height: 40px;
      font-size: 12px;
      padding: 10px 28px;
      text-align: left;
      word-break: keep-all;
      background: url(/images/other/program_speech.png) no-repeat;
      line-height: 17px;
      top: 50px;
      left: 670px; }
  .schedule .timetable {
    text-align: right; }
    .schedule .timetable .concept_direction {
      display: inline-block;
      text-align: right;
      font-size: 14px;
      padding: 12px;
      margin: 10px;
      height: 33px;
      line-height: 33px;
      vertical-align: middle;
      border: 1px solid #e3e3e3; }
      .schedule .timetable .concept_direction img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px; }
      .schedule .timetable .concept_direction img:first-child {
        margin-left: 0; }
    .schedule .timetable table {
      text-align: center;
      width: 100%;
      border-collapse: collapse;
      background-color: #fff; }
      .schedule .timetable table tr {
        height: 60px; }
        .schedule .timetable table tr.h120 {
          height: 120px; }
        .schedule .timetable table tr.h240 {
          height: 240px; }
        .schedule .timetable table tr.border_bottom td {
          border-bottom: 1px solid #dedede; }
        .schedule .timetable table tr td {
          height: 50px;
          font-size: 13px; }
          .schedule .timetable table tr td.h120 {
            height: 110px; }
          .schedule .timetable table tr td.h240 {
            height: 230px; }
          .schedule .timetable table tr td:first-child {
            width: 204px;
            vertical-align: top;
            line-height: 56px;
            font-size: 14px; }
          .schedule .timetable table tr td .light_bg, .schedule .timetable table tr td div.gray_light, .schedule .timetable table tr td div.whiteblue_light, .schedule .timetable table tr td div.whiteorange_light, .schedule .timetable table tr td div.whitegreen_light, .schedule .timetable table tr td div.whitepurple_light {
            height: 100%;
            width: 100%;
            vertical-align: middle;
            border: 1px solid #dedede;
            border-bottom: 3px solid #dedede; }
          .schedule .timetable table tr td div.gray_light {
            background-color: #ececec; }
          .schedule .timetable table tr td div.whiteblue_light {
            background-color: #ecf0f5; }
          .schedule .timetable table tr td div.whiteorange_light {
            background-color: #ffdbd0; }
          .schedule .timetable table tr td div.whitegreen_light {
            background-color: #d9f0ef; }
          .schedule .timetable table tr td div.whitepurple_light {
            background-color: #e0dff9; }
          .schedule .timetable table tr td .corner_left {
            border-radius: 5px 0 0 5px; }
          .schedule .timetable table tr td .corner_right {
            border-radius: 0 5px 5px 0; }
          .schedule .timetable table tr td .corner_all {
            border-radius: 5px; }
          .schedule .timetable table tr td .location, .schedule .timetable table tr td .oneline_location {
            font-size: 13px;
            position: relative;
            top: 10px;
            z-index: 100;
            left: 0;
            color: #ef513c;
            height: 0;
            width: 90px;
            float: right;
            margin-right: 10px;
            text-align: right; }
          .schedule .timetable table tr td .oneline_location {
            top: 4px;
            margin-right: 3px; }

.table {
  width: 100%;
  height: 100%;
  display: table;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 5px; }
  .table .tr {
    display: table-row; }
    .table .tr.h60 {
      height: 60px; }
    .table .tr.h120 {
      height: 120px; }
    .table .tr.h180 {
      height: 180px; }
    .table .tr.h240 {
      height: 240px; }
    .table .tr.border_top_bottom > .td {
      border-top: 1px solid #ececec;
      border-bottom: 1px solid #ececec; }
    .table .tr.border_bottom > .td {
      border-bottom: 1px solid #ececec; }
    .table .tr .td {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 13px;
      line-height: 21px; }
      .table .tr .td img {
        vertical-align: middle; }
      .table .tr .td.gray_light {
        background-color: #ececec;
        border: 1px solid #dedede;
        border-bottom: 3px solid #dedede; }
      .table .tr .td.whiteblue_light {
        background-color: #ecf0f5;
        border: 1px solid #dedede;
        border-bottom: 3px solid #dedede; }
      .table .tr .td.whitepurple_light {
        background-color: #e0dff9;
        border: 1px solid #dedede;
        border-bottom: 3px solid #dedede; }
      .table .tr .td.time {
        width: 204px; }
      .table .tr .td.w50p, .table .tr .td.w33p {
        padding: 19px 25px;
        width: 50%;
        margin-right: 5px; }
        .table .tr .td.w50p .location, .table .tr .td.w33p .location, .table .tr .td.w50p .schedule .timetable table tr td .oneline_location, .schedule .timetable table tr td .table .tr .td.w50p .oneline_location, .table .tr .td.w33p .schedule .timetable table tr td .oneline_location, .schedule .timetable table tr td .table .tr .td.w33p .oneline_location {
          font-size: 13px;
          position: relative;
          top: -13px;
          z-index: 100;
          left: 0;
          color: #ef513c;
          height: 0;
          width: 100px;
          float: right;
          margin-right: -16px;
          text-align: right; }
        .table .tr .td.w50p:last-child, .table .tr .td.w33p:last-child {
          margin-right: 0; }
      .table .tr .td.w33p {
        width: 33%; }
      .table .tr .td .multi_times {
        line-height: 24px; }
      .table .tr .td.center {
        text-align: center;
        vertical-align: middle; }
      .table .tr .td.left {
        text-align: left; }

ul {
  margin: 13px 0 0 0;
  padding-left: 16px; }

.wide_list {
  line-height: 40px; }

.p5855 {
  padding: 5px 8px 5px 5px; }

.pl21 {
  padding-left: 21px; }

.h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0; }

.program_description {
  font-size: 13px;
  margin: 13px 0 0 0; }

.day_detail {
  display: none; }

/*# sourceMappingURL=programs.css.map */
