.schedule {
  text-align: center;
  padding: 60px 0;
  height: 100%;
  background-color: #f7f7f8;
  .days {
    height: 60px;
    .day {
      float: left;
      width: 270px;
      margin-right: 6px;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      font-size: 16px;
      background-color: #ebebec;

      &.on, &:hover {
        cursor: pointer;
        background-color: #ef513c;
        color: #FFFFFF;
      }
    }
    .day:last-child {
      margin-right: 0px;
    }
  }
  .day_concept {
    padding-top: 68px;
    position: relative;
    .date {
      font-size: 22px;
      color: #ef513c;
    }
    .concept_title {
      margin-top: 29px;
      font-size: 28px;
      font-weight: bold;
    }
    .concept_description {
      font-size: 14px;
      margin: 25px 0;
    }
    .day_location {
      margin: 25px 0;
      font-size: 14px;
    }
    .balloon {
      position: absolute;
      width: 313px;
      height: 40px;
      font-size: 12px;
      padding: 10px 28px;
      text-align: left;
      word-break: keep-all;
      background: url(/images/other/program_speech.png) no-repeat;
      line-height: 17px;
      top: 50px;
      left: 670px;
    }
  }
  .timetable {
    //display: none;
    text-align: right;
    .concept_direction {
      display: inline-block;
      text-align: right;
      font-size: 14px;
      padding: 12px;
      margin: 10px;
      height: 33px;
      line-height: 33px;
      vertical-align: middle;
      border: 1px solid #e3e3e3;
      img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
      }
      img:first-child {
        margin-left: 0;
      }
    }
    table {
      text-align: center;
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      tr {
        height: 60px;
        &.h120 {
          height: 120px;
        }
        &.h240 {
          height: 240px;
        }
        &.border_bottom td {
          border-bottom: 1px solid #dedede;
        }
        td {
          padding: 5px;
          height: 50px;
          font-size: 11px;
          &.h120 {
            height: 110px;
          }
          &.h240 {
            height: 230px;
          }
          &:first-child {
            width: 16%;
            vertical-align: middle;
            line-height: 56px;
            font-size: 14px;
          }
          .light_bg {
            height: 100%;
            width: calc(100% - 30px);
            vertical-align: middle;
            border: 1px solid #dedede;
            border-bottom: 3px solid #dedede;
            padding: 43px 15px 0 15px;
            position: relative;
            img {
              vertical-align: middle;
            }
            li {
              margin-bottom: 10px;
              line-height: 130%;
            }
            &.oneline {
              padding: 16px 0 0 46px;
              width: calc(100% - 46px);
            }
          }
          div.gray_light {
            @extend .light_bg;
            background-color: #ececec;
          }
          div.whiteblue_light {
            @extend .light_bg;
            background: #ecf0f5 url(/images/other/program_icon_01.png) no-repeat 10px 10px;
          }
          div.whiteorange_light {
            @extend .light_bg;
            background: #ffdbd0 url(/images/other/program_icon_02.png) no-repeat 10px 10px;
          }
          div.whitepurple_light {
            @extend .light_bg;
            background: #dbd9ed url(/images/other/program_icon_03.png) no-repeat 10px 10px;
          }
          div.whitegreen_light {
            @extend .light_bg;
            background: #cef2ec url(/images/other/program_icon_04.png) no-repeat 10px 10px;
          }
          div.pl21 {
            padding-left: 21px;
            width: calc(100% - 21px);
          }
          .corner_left {
            border-radius: 5px 0 0 5px;
          }
          .corner_right {
            border-radius: 0 5px 5px 0;
          }
          .corner_all {
            border-radius: 5px;
          }
          .location {
            font-size: 11px;
            position: relative;
            top: -25px;
            z-index: 100;
            left: 20px;
            color: #ef513c;
            height: 0;
            float: right;
            margin-right: 10px;
            text-align: right;
          }
          .left {
            text-align: left;
            vertical-align: top;
          }
          .oneline_location {
            @extend .location;
            top: 5px;
            margin-right: 26px;
          }
        }
      }
    }
  }
}

.table {
  width: 100%;
  height: 100%;
  display: table;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 5px;

  .tr {
    display: table-row;
    &.h60 {
      height: 60px;
    }
    &.h120 {
      height: 120px;
    }
    &.h180 {
      height: 180px;
    }
    &.h240 {
      height: 240px;
    }
    &.border_top_bottom > .td {
      border-top: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }
    &.border_bottom > .td {
      border-bottom: 1px solid #ececec;
    }
    .td {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 13px;
      line-height: 21px;
      img {
        vertical-align: middle;
      }
      &.time {
        width: 204px;
      }
      &.w50p {
        padding: 19px 25px;
        width: 50%;
        margin-right: 5px;
        .location {
          font-size: 13px;
          position: relative;
          top: -13px;
          z-index: 100;
          left: 0;
          color: #ef513c;
          height: 0;
          width: 100px;
          float: right;
          margin-right: -16px;
          text-align: right;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      &.w33p {
        @extend .w50p;
        width: 33%;
      }
      .multi_times {
        line-height: 24px;
      }
      &.center {
        text-align: center;
        vertical-align: middle;
      }
      &.left {
        text-align: left;
        vertical-align: top;
      }
    }
  }
}

ul {
  margin: 13px 0 0 0;
  padding-left: 0;
  list-style: none;
}

.wide_list {
  line-height: 40px;
}

.p5855 {
  padding: 5px 8px 5px 5px;
}

.pl21 {
  padding-left: 21px;
}

.h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.program_description {
  font-size: 13px;
  margin: 13px 0 0 0;
}

.day_detail {
  display: none;
}

.program_mobile {
  text-align: center;
  padding: 60px 0;
  overflow: auto;
  height: auto;
  section {
    width: 98%;
    .mobile_day_buttons {
      width: 100%;
      height: auto;
      overflow: auto;
      .mobile_day_button {
        float: left;
        width: calc(25% - 0.2em);
        margin: 0 0.1em;
        background-color: #ebebec;
        font-weight: normal;
        padding: 0.5em 0;
        font-size: 0.8em;
        &.on {
          background-color: #ef513c;
          color: #FFFFFF;
          font-weight: bold;
        }
      }
    }
    .mobile_day_detail {
      display: none;
      .date {
        display: none;
        color: #ef513c;
        font-weight: bold;
        font-size: 0.725em;
        width: 100%;
        text-align: center;
        margin: 2em 0 0.7em 0;
      }
      .day_concept_desc {
        padding: 0.5em 1.325em;
        font-size: 0.625em;
        border-radius: 1.325em;
        border: 1px solid #ebebec;
        background-color: #fff;
        word-break: keep-all;
        margin: 10px auto 20px;
        width: 85%;
      }
      .day_concept {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 32px;
      }
      .day_description {
        @media screen and (max-width: 600px) {
          text-align: center;
          word-break: keep-all;
          width: 80%;
          margin: 0 auto;
          font-size: 0.825em;
          line-height: 140%;
        }
        @media screen and (min-width: 600px) {
          text-align: center;
        }
        font-size: 0.925em;
        margin: 1em 0 2em 0;
      }
      .day_location {
        font-size: 0.825em;
        margin: 29px 0;
        line-height: 140%;
      }
      .subject_icons {
        display: inline-block;
        text-align: center;
        font-size: 0.725em;
        padding: 1em;
        margin: 0.525em;
        height: 2.5em;
        line-height: 2.5em;
        vertical-align: middle;
        border: 1px solid #e3e3e3;
        width: 85%;
        img {
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.4em;
        }
        img:first-child {
          margin-left: 0;
        }
      }
      .time_box {
        border: 1px solid #e3e3e3;
        border-bottom: 2px solid #e3e3e3;
        overflow: auto;
        padding: 0.5em;
        margin-top: 0.225em;
        .time {
          float: left;
          font-size: 0.75em;
          width: 17%;
          text-align: left;
        }

        .time_detail {
          float: left;
          width: 83%;
          text-align: left;
          .sessions {
            margin-top: 0.2em;
            &:first-child {
              margin-top: 0;
            }
            &.lightgreen {
              border-radius: 5px;
              background-color: #C7FFBC;
              border: #ececec 1px solid;
              padding: 0.3em;
            }
            &.lightblue {
              border-radius: 5px;
              background-color: #ecf0f5;
              border: 1px solid #dedede;
              padding: 0.3em;
            }
            &.lightpurple {
              border-radius: 5px;
              background-color: #e0dff9;
              border: 1px solid #dedede;
              padding: 0.3em;
            }
            &.lightorange {
              background-color: #ffdbd0;
              border: 1px solid #dedede;
              padding: 0.3em;
              border-radius: 5px;
            }
            &.lightyellow {
              background-color: #FFFDC7;
              border: 1px solid #dedede;
              padding: 0.3em;
              border-radius: 5px;
            }
            &.lightred {
              background-color: #ffd9eb;
              border: 1px solid #dedede;
              padding: 0.3em;
              border-radius: 5px;
            }
            .location {
              font-size: 0.8em;
              color: #ef513c;
            }
            .title {
              font-size: 1.1em;
              font-weight: bold;
              margin: 1.1em 0;
            }
            .detail {
              font-size: 0.725em;
              font-weight: normal;
              line-height: 180%;
            }
          }
        }
      }
    }
  }
}