.speaker_wrap {
  padding: 60px 0;
  text-align: center;
  background-color: #f7f7f8;
  overflow:auto;
  .speaker_box {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    margin-bottom: 20px;
    overflow:auto;
    .person_image {
      @media screen and (max-width: 1000px) {
        padding: 0.350em;
        width: 100%;
        text-align: center;
        .image {
          height: auto;
        }
      }
      float: left;
      padding: 25px;
      .image {
        width: 160px;
        height: 160px;
      }
    }
    .person_profile {
      @media screen and (max-width: 1000px) {
        float: none;
        width: calc(100% - 40px);
        padding: 20px;
      }
      float: right;
      text-align: left;
      padding: 25px 0;
      width: calc(100% - 220px);
      .name_social {
        .kor_name {
          font-size: 24px;
        }
        .eng_name {
          font-size: 18px;
        }
      }
      .organize {
        font-size: 14px;
        color: #ff4f38;
        margin-top: 20px;
      }
      .describe {
        width: 97%;
        text-align: justify;
        word-break: break-all;
        font-size: 14px;
        line-height: 24px;
      }
      .programs {
        display: inline-block;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
        color: #f0513d;
        .items {
          line-height: 20px;
          color: #333;
          font-size: 12px;
        }
      }
    }
  }
}

.guide_bar_90p {
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}