.speaker_wrap {
  padding: 60px 0;
  text-align: center;
  background-color: #f7f7f8;
  overflow:auto;
  &:first-child {
    padding-bottom: 0;
  }
  .special_speaker_box {
    @media screen and (max-width: 1000px) {
      padding: 20px;
      width: calc(100% - 40px);
    }
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    margin-bottom: 20px;
    overflow:auto;
    .person_image {
      @media screen and (max-width: 1000px) {
        padding: 0;
        width: 100%;
        text-align: center;
        .image {
          height: auto;
        }
      }
      float: left;
      padding: 25px;
      .image {
        width: 160px;
        height: 160px;
      }
    }
    .person_profile {
      @media screen and (max-width: 1000px) {
        float: none;
        width: 100%;
      }
      float: right;
      text-align: left;
      padding: 25px 0;
      width: calc(100% - 220px);
      .name_social {
        .kor_name {
          @media screen and (max-width: 1000px) {
            font-size: 18px;
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }
          font-size: 24px;
          float: left;
          vertical-align: middle;
          line-height: 24px;
          margin-right: 7px;
        }
        .eng_name {
          @media screen and (max-width: 1000px) {
            font-size: 12px;
            width: 100%;
            text-align: center;
          }
          font-size: 18px;
          line-height: 24px;
        }
        .social_wrap {
          @media screen and (max-width: 1000px) {
            margin-right: 8px;
            margin-top: -220px;
            width: 26px;
          }
          float: right;
          margin-right: 25px;
        }
      }
      .organize {
        font-size: 12px;
        color: #ff4f38;
        margin-top: 20px;
      }
      .describe {
        width: 97%;
        text-align: justify;
        word-break: break-all;
        font-size: 14px;
        line-height: 24px;
      }
      .programs {
        display: inline-block;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
        color: #f0513d;
        .items {
          line-height: 20px;
          color: #333;
          font-size: 12px;
        }
      }
    }
  }
  .speaker_box {
    @extend .special_speaker_box;

    @media screen and (max-width: 1000px) {
      padding: 20px;
      width: calc(100% - 40px);
      margin: 0 0 20px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
    width: calc(50% - 24px);
    margin: 10px;
    float: left;
    .person_image {
      .texted {
        line-height: 160px;
        font-size: 80px;
        font-weight: bold;
        color: #b1b1b1;
      }
    }
    .person_profile {
      @media screen and (max-width: 1000px) {
        width: 100%;
        padding: 0;
      }
      padding: 25px 25px 25px 0;
      width: calc(100% - 235px);
      .name_social {
        @media screen and (max-width: 1000px) {
          width: 100%;
          margin: 0;
        }
        overflow: auto;
        height: auto;
      }
      .kor_name {
        @media screen and (max-width: 1000px) {
          margin: 0;
        }
        @media screen and (min-width: 1000px) {
          margin-bottom: 0;
        }
        margin-bottom: 20px;
      }
      .organize {
        @media screen and (min-width: 1000px) {
          height: 28px;
        }
      }
      .describe {
        @media screen and (max-width: 1000px) {
          min-height: inherit;
          height: auto;
        }
        min-height: 120px;
      }
    }
  }
}

.guide_bar_90p {
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
}