---
layout: base
---

<script src="/js/scrolltop.js"></script>
<div class="wrap keywords_wrap">
    <section>
        <h1 class="title">키워드</h1>

        <div class="guide_bar_33"></div>
        <div class="head_description">
            CC 운동은 라이선스뿐만 아니라 교육, 기술, 예술 등 다양한 곳에서 그 가치와 정신이 담겨져 있습니다. <br class="nobr"/>
            CC 글로벌 써밋을 통해 나눌 키워드들을 소개합니다.
        </div>
        {% for k in site.data.keywords %}
        <div class="keyword_box">
            <div class="badge"><img src="{{ site_url }}/images/other/keyword_badge.png" alt=">"/></div>
            <div class="title_wrap">
                <div class="title">
                    <a href="{{ k.definition_link }}">{{ k.title }}</a>
                </div>
            </div>
            <div class="thumbnail"><img src="{{ site_url }}/images/keyword/{{ k.thumbnail }}" alt=""/></div>
            <div class="keyword_description">
                {{ k.description }}
                <br/><br/>
                <span class="relates_session"><img src="images/other/bullet.png" alt="-"/> 관련세션 <br/></span>
                <div class="item">
                {% for r in k.relates %}
                    {{ r.item }} <br>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>