---
layout: base
---

<script>
    $(document).ready(function () {
        // schedule click event define
        $('.day').click(function () {
            location.href='/programs.html?day=' + $(this).attr('data-rel');
        });

        $('.day').removeClass('on');
        $('.day_detail').hide();
        switch (getUrlParameter('day')){
            case '1014':
                $('#day14').addClass('on');
                $('#day14_detail').show();
                break;
            case '1016':
                $('#day16').addClass('on');
                $('#day16_detail').show();
                break;
            case '1017':
                $('#day17').addClass('on');
                $('#day17_detail').show();
                break;
            case '1015':default :
                $('#day15').addClass('on');
                $('#day15_detail').show();
                break;
        }

        $('span.h2')
                .each(function() {
                    if ( $(this).attr('data-rel') )
                        $(this).css('cursor', 'pointer');
                })
                .click(function(){
                    if ( $(this).attr('data-rel') )
                        location.href='/session/' + $(this).attr('data-rel') + '.html';
                });

    });

</script>
<div class="wrap schedule">
    <section>
        <h1 class="title">일정</h1>

        <div class="guide_bar_33"></div>
        <div class="days">
            <div class="day" id="day14" data-rel="1014">수요일 (10/14)</div>
            <div class="day" id="day15" data-rel="1015">목요일 (10/15)</div>
            <div class="day" id="day16" data-rel="1016">금요일 (10/16)</div>
            <div class="day" id="day17" data-rel="1017">토요일 (10/17)</div>
        </div>
        {% include day14_detail.html %}
        {% include day15_detail.html %}
        {% include day16_detail.html %}
        {% include day17_detail.html %}
        <div class="apply_summit_wrap">
            <button class="apply_summit" type="button" onclick="location.href='/register.html'">CC Global Summit 2015 신청하기</button>
        </div>
    </section>
</div>
