---
layout: base
---
<div class="wrap promote_main_wrap no-padding-bottom">
    <section>
        <h1 class="title">주관</h1>
        <div class="guide_bar_33"></div>
        <div class="creative_commons">
            <div class="logo">
                <a href="http://cckorea.org" target="_blank">
                    <img src="/images/other/cc_korea_logo.png" alt="CC Korea logo"/>
                </a>
            </div>
            <div class="description_wrap">
                <div class="description">
                    2015년 글로벌 써밋은 크리에이티브 커먼즈 코리아(CC Korea)에서 주관하게 되었습니다.
                    CC Korea는 10년전 2005년에 활동을 시작했습니다. 공유의 가치를 믿는 개발자, 디자이너, 법률가,
                    대학생 등 다양한 분야의 자원활동가분들이 공유와 개방의 문화가 퍼져나갈 수 있도록
                    꾸준히 활동해 왔습니다. (<a href="http://cckorea.org/xe/project" target="_blank">CC Korea 활동</a>)
                    10년을 맞이한 한국에서의 CC활동이 글로벌 써밋을 계기로 더욱더 확산되었으면 하는 바램입니다.
                    <br><br/>
                    <img src="/images/other/bullet.png" alt="."/>
                <span class="link">
                    <a href="http://cckorea.org" target="_blank">
                        크리에이티브 커먼즈 코리아(CC Korea) 바로가기 >
                    </a>
                </span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap promote_main_wrap">
    <section>
        <h1 class="title">주최</h1>
        <div class="guide_bar_33"></div>
        <div class="promote_description">
            CC 글로벌 써밋 2015는 크리에이티브 커먼즈와 한국저작권위원회에서 공동주최 합니다. <br/>
            CC 글로벌 써밋은 주관/주최 기관 뿐만 아니라 80여개국의 CC Affiliates 들이 함께 준비하는 글로벌 축제입니다. <br/>
        </div>
        <div class="creative_commons">
            <div class="logo">
                <a href="http://creativecommons.org" target="_blank">
                    <img src="/images/other/cc_logo.png" alt="CC logo"/>
                </a>
            </div>
            <div class="description_wrap">
                <div class="description">
                    CC운동은 2002년 미국에서 처음 설립된 비영리단체인 Creative Commons를 시작으로
                    몇 가지 조건하에 자신의 창작물에 대한 자유이용을 허락하는 내용의 퍼블릭 라이선스인 CCL을 보급하여 왔습니다.
                    현재 전세계 80여개의 국가들이 참여하여 각 국가의 저작권법과 언어를 바탕으로한 CCL을 도입하고 다양한 프로젝트를 함께하는 글로벌 커뮤니티로 성장하고 있습니다.
                    <a href="https://wiki.creativecommons.org/wiki/CC_Affiliate_Network" target="_blank" style="color: #ef513c;" >CC 글로벌</a>
                    <br><br><br/>
                    <img src="/images/other/bullet.png" alt="."/>
                <span class="link">
                    <a href="http://creativecommons.org" target="_blank">
                        크리에이티브 커먼즈(Creative Commons)바로가기 >
                    </a>
                </span>
                </div>
            </div>
        </div>
        <div class="creative_commons">
            <div class="logo">
                <a href="www.copyright.or.kr" target="_blank">
                    <img src="/images/other/kcc_logo_408x260.png" alt="KCC logo"/>
                </a>
            </div>
            <div class="description_wrap">
                <div class="description">
                    한국저작권위원회는 다양한 지식문화예술과 소프트웨어 분야의 저작권을 아우르는 저작권 전문 법정기관으로서 저작권 보호를 위한 국제 협력을 도모하고 연구·교육 및 홍보 활동을 하며 저작권 정책의 수립을 지원하는 등의 역할을 하고 있습니다. 이러한 활동들을 통해 한국저작권위원회는 창작자가 창조의 날개를 마음껏 펼칠 수 있는 세상, 기업이 안심하고 투자할 수 있는 저작권 산업 환경을 추구하고 있습니다.
                    <br><br/>
                    <img src="/images/other/bullet.png" alt="."/>
                <span class="link">
                    <a href="http://www.copyright.or.kr" target="_blank">
                        한국저작권위원회 바로가기 >
                    </a>
                </span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap end_bar">
    <section class="preparing_people">
        <h1 class="title">준비하는 사람들</h1>
        <div class="guide_bar_33"></div>
        <div class="description">CC 글로벌 써밋 2015가 아름답게 개최될 수 있도록 노력하고 있습니다.</div>
        <div class="people_list">
            {% for p in site.data.preparer %}
            <div class="person">
                <div class="photo">
                    <img src="{{ p.image }}" alt="{{ p.name }}"/>
                </div>
                <div class="name">{{ p.name }}</div>
                <div class="organize">{{ p.organize }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<div class="wrap end_bar">
    <section class="preparing_people">
        <h1 class="title">프로그램 심사단</h1>
        <div class="guide_bar_33"></div>
        <div class="description">써밋 프로그램의 리뷰와 개선을 위해 도와주신 CC 인사들입니다.</div>
        <div class="people_list">
            {% for p in site.data.inspector %}
            <div class="person">
                <div class="photo">
                    <img src="{{ p.image }}" alt="{{ p.name }}"/>
                </div>
                <div class="name">{{ p.name }}</div>
                <div class="organize">{{ p.organize }}</div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>