---
layout: base
---

<script src="/js/scrolltop.js?v=09111651"></script>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    $(document).ready(function () {
        if (getUrlParameter('jumpTo'))
            $("html, body").scrollTop($('#' + getUrlParameter('jumpTo')).offset().top);
    });
</script>

<div class="wrap speaker_wrap">
    <section>
        <h1 class="title">주요연사</h1>

        <div class="guide_bar_33"></div>

        {% for s in site.data.mainspeakers %}
        <div class="special_speaker_box" id="{{ s.id }}">
            <div class="person_image">
                <img src="{{ s.image }}" alt="{{ s.kor_name }},{{ s.eng_name }}" class="image"/>
            </div>
            <div class="person_profile">
                <div class="name_social">
                    <div class="kor_name">{{ s.kor_name }}</div>
                    <div class="eng_name">{{ s.eng_name }}</div>

                    <div class="social_wrap">
                        <span class="social">
                            <a href="{{ s.fb }}" class="social_fb" target="_blank">
                                <img src="/images/other/speaker_fb.png" alt="facebook"/>
                            </a>
                            <a href="{{ s.tw }}" class="social_fb" target="_blank">
                                <img src="/images/other/speaker_tw.png" alt="facebook"/>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="organize">{{ s.organize }}</div>
                <div class="guide_bar_90p"></div>
                <div class="describe">
                    {{ s.describe }}
                </div>
                <div class="programs">
                    <img src="images/other/bullet.png" alt="*"/> 관련세션 <br/>

                    <div class="items">
                        {% for p in s.programs %}
                        {{ p.item }} <br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
<div class="wrap speaker_wrap">
    <section>
        <h1 class="title">연사</h1>

        <div class="guide_bar_33"></div>

        {% for s in site.data.speakers %}
        <div class="speaker_box">
            <div class="person_image">
                <img src="{{ s.image }}" alt="{{ s.name }}, {{ s.eng_name }}" class="image"/>
            </div>
            <div class="person_profile">
                <div class="name_social">
                    <div class="kor_name">{{ s.name }}</div>
                </div>
                <div class="organize">{{ s.organize }}</div>
                <div class="guide_bar_90p"></div>
                <div class="describe">
                    {{ s.describe }}
                </div>
                {% if s.programs %}
                <div class="programs">
                    <img src="images/other/bullet.png" alt="*"/> 관련세션 <br/>

                    <div class="items">
                        {% for p in s.programs %}
                        {{ p.item }} <br/>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
</div>