<div class="day_detail" id="day15_detail">
    <div class="day_concept end_bar" id="day15_concept">
        <div class="date">10.15 (THU)</div>
        <div class="concept_title">Celebration of Sharing: 우공이산(愚公移山)</div>
        <div class="concept_description">
            공유, 개방의 의미와 가치를 토대로 이루어낸 크고 작은 변화들을 나누는 자리입니다.
        </div>
        <div class="day_location">
            <img src="/images/other/bullet.png" alt="-"/> 장소: 국립중앙박물관 대강당 / 세미나실
        </div>
        <div class="balloon">
            우공이 산을 옮긴다는 뜻으로, 어떤 일이든 끊임없이 노력하면
            반드시 이루어짐을 이르는 말입니다.
        </div>
    </div>
    <div class="timetable" id="day15_timetable">
        <div class="concept_direction">
            <img src="/images/other/program_icon_01.png" alt="강연"/> 강연
            <img src="/images/other/program_icon_02.png" alt="포럼"/> 포럼
            <img src="/images/other/program_icon_03.png" alt="워크샵"/> 워크샵
            <img src="/images/other/program_icon_04.png" alt="이벤트"/> 이벤트
        </div>
        <table>
            <tr class="border_bottom">
                <td>09:30 ~ 10:00</td>
                <td>등록</td>
            </tr>
            <tr class="border_bottom h120">
                <td>10:00 ~ 10:10</td>
                <td class="h120">
                    <div class="table">
                        <div class="tr">
                            <div class="td w50p">인사말</div>
                            <div class="td">
                                서정욱 / CCKOREA 이사장 <br/>
                                미정 / 후원 기관 or 기업 대표
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="h240 border_bottom">
                <td class="h240">
                    10:20 ~ 10:40(20') <br/>
                    10:45 ~ 11:05(20') <br/>
                    11:10 ~ 11:35(25') <br/>
                    11:40 ~ 12:10(30')
                </td>
                <td class="h240 p5855">
                    <div class="location">장소: 대강당</div>
                    <div class="table whiteblue_light corner_all">
                        <div class="tr">
                            <div class="td w50p">
                                <img src="/images/other/program_icon_01.png" alt="강연"/><br/>
                                    <span class="h2">
                                    발제 및 토론:<br>
                                    디지털 시대의 창조적 공유 자원의 중요성
                                    </span>
                            </div>
                            <div class="td left">
                                <ul class="wide_list">
                                    <li><span class="font-bold">Ryan Merkley _ CC CEO</span> 창조적 자원이 어떤 변화를 가져왔는가?</li>
                                    <li><span class="font-bold">윤종수 _ CCKOREA 프로젝트 리드</span> 다음 세대를 위한 창조적 자원</li>
                                    <li><span class="font-bold">Yochai Benkler _ 하버드대학교 로스쿨 교수</span> The wealth of
                                        Network
                                    </li>
                                    <li><span class="font-bold">토론 (윤종수, Ryan, Yochai)</span> 디지털 시대의 창조적 공유 자원의 중요성
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>12:10 - 13:20(70')</td>
                <td>점심식사</td>
            </tr>
            <tr class="border_bottom h120">
                <td>13:20 - 14:40(80')</td>
                <td>
                    <div class="table">
                        <div class="tr">
                            <div class="td w50p whiteblue_light left corner_all">
                                <div class="location">장소: 대강당</div>
                                <img src="/images/other/program_icon_01.png" alt="강연"/>
                                <span class="h2">&lt;세션 1: Open Knowlege&gt;</span>
                                <ul>
                                    <li>유로피아나 - 유럽의 문화 예술을 디지털로 스캔하다 / Paul Keller</li>
                                    <li>휴렛재단 - OER이 가져온 변화 / TJ Bliss</li>
                                    <li>한국저작권위원회 - 공유저작물 창조자원화 전략 / 정재곤</li>
                                    <li>한국정보화진흥원 - 한국 공공데이터 개방과 현황 / 송석현</li>
                                </ul>
                            </div>
                            <div class="td w50p whiteblue_light left corner_all">
                                <div class="location">장소: 세미나실</div>
                                <img src="/images/other/program_icon_01.png" alt="강연"/>
                                <span class="h2">&lt;세션 2: Sharing City&gt;</span>
                                <ul>
                                    <li>연세대학교 - Community&Commons / 조한혜정</li>
                                    <li>서울시 - 데이터로 소통하는 서울 / 최영훈</li>
                                    <li>에어비앤비 - 공유경제가 도시의 미래에 미치는 영향 / 몰리터너</li>
                                    <li>CC 호주 - 멜버른 공공데이터 공유 전략 / Delia Brown</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>14:40 - 15:10(30')</td>
                <td>Break</td>
            </tr>
            <tr class="border_bottom">
                <td>15:10 - 16:30(80')</td>
                <td>
                    <div class="table">
                        <div class="tr">
                            <div class="td w50p whiteblue_light left corner_all">
                                <div class="location">장소: 대강당</div>
                                <img src="/images/other/program_icon_01.png" alt="강연"/>
                                <span class="h2">&lt;세션 3: 오픈 비지니스(플랫폼)&gt;</span>
                                <ul>
                                    <li>CC HQ - 오픈 비즈니스의 성공 전략 / Timothy Vollmer</li>
                                    <li>플리커 - Photo Commons / Jeff Bellfort</li>
                                    <li>원트리뮤직 - 공개된 CCL음원의 비즈니스 모델/ 도회성</li>
                                </ul>
                            </div>
                            <div class="td w50p whitepurple_light left corner_all">
                                <div class="location">장소: 세미나실</div>
                                <img src="/images/other/program_icon_01.png" alt="강연"/>
                                <span class="h2">&lt;세션 4: Do It Yourself&gt;</span>
                                <ul>
                                    <li>아티스트 - 공유는 미친짓이다 / 송호준</li>
                                    <li>로프트웤크 - 우리는 모두 창작자이다 / 치아키 하야시</li>
                                    <li>네이버 - 소프트웨어야 놀자 / 김지현</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>16:30 - 16:50(20')</td>
                <td>Break</td>
            </tr>
            <tr class="border_bottom">
                <td>16:50 - 17:15(25')</td>
                <td class="p5855">
                    <div class="table whiteorange_light corner_all">
                        <div class="tr">
                            <div class="td pl21 left">
                                <div class="oneline_location">장소: 세미나실</div>
                                <img src="/images/other/program_icon_02.png" alt="포럼"/>
                                <span class="h2">Power of Open Data  Pavel Richter</span> _ OKFN CEO
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:20 - 17:45(25')</td>
                <td class="p5855">
                    <div class="table whiteorange_light corner_all">
                        <div class="tr">
                            <div class="td pl21 left">
                                <div class="oneline_location">장소: 대강당</div>
                                <img src="/images/other/program_icon_02.png" alt="포럼"/>
                                <span class="h2">예술의 창조적 자원</span> - 나비아트센터 관장
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:45 - 18:00</td>
                <td>마무리</td>
            </tr>
            <tr class="border_bottom">
                <td>18:00 - 18:30(30')</td>
                <td>네트워킹</td>
            </tr>
            <tr>
                <td>17:20 - 17:45(25')</td>
                <td class="p5855">
                    <div class="table whitegreen_light corner_all">
                        <div class="tr">
                            <div class="td pl21 left">
                                <div class="oneline_location">장소: 미정</div>
                                <img src="/images/other/program_icon_04.png" alt="이벤트"/>
                                <span class="h2">참석자 저녁식사</span>(초대자에 한함)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
