<div class="mobile_day_detail" id="day17">
    <div class="date">10.17 (토)</div>
    <div class="day_concept">
        Future of Sharing <br/> 수구초심(首邱初心)
    </div>
    <div class="wrap">
        <div class="day_concept_desc">
            여우는 죽을 때 구릉을 향(向)해 머리를 두고 초심으로 돌아간다라는 뜻입니다.
        </div>
    </div>
    <div class="wrap" style="">
        <div class="day_description">
            처음 CC운동의 시작할때로 돌아가서 우리 활동의 본질을 돌아보고 앞으로 우리의 활동을 그려보는 시간입니다.
        </div>
    </div>
    <div class="day_location">
        <img src="/images/other/bullet.png" alt="-" />
        <span class="font-bold">장소</span>
        <br/>
        콘텐츠코리아랩 컨퍼런스룸 / 603호 / <br/> 아이디어 빌리지 / 오픈 스페이스
    </div>
    <div class="subject_icons">
        <img src="/images/other/program_icon_01.png" alt="강연"/> 강연
        <img src="/images/other/program_icon_02.png" alt="포럼"/> 포럼
        <img src="/images/other/program_icon_03.png" alt="워크숍"/> 워크숍
        <img src="/images/other/program_icon_04.png" alt="이벤트"/> 이벤트
    </div>

    {% for box in site.data.day17_programs %}
    <div class="time_box">
        <div class="time">{{ box.time }}</div>
        <div class="time_detail">
            {% for s in box.sessions %}
            <div class="sessions {{s.box}}">
                {% if s.location %}
                <div class="location">{{ s.location }}</div>
                {% endif %}
                <div class="title">{{ s.title }}</div>
                {% if s.detail %}
                <div class="detail">{{ s.detail }}</div>
                {% endif %}
                {% if s.lang contains 'k' %}
                <img src="/images/other/k.png" alt="korean" style="width: 20px;">
                {% endif %}
                {% if s.lang contains 'e' %}
                <img src="/images/other/e.png" alt="english" style="width: 20px;">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
