<div class="day_detail" id="day16_detail">
    <div class="day_concept end_bar" id="day16_concept">
        <div class="date">10.16 (금)</div>
        <div class="concept_title">Work of Sharing: 상선 약수(上善若水)</div>
        <div class="concept_description">
            여러가지 형태로 존재하고 사물에 생명을 불어넣으며 모이고 모여 바다로 흘러나가는 특징이 우리가 추구해온 공유, 개방의 가치와 상통합니다.
        </div>
        <div class="day_location">
            <img src="/images/other/bullet.png" alt="-"/> 장소
            <div style="margin-top: 10px; line-height: 140%;">
                국립중앙박물관 대강당 / 소강당 / 세미나실
                <br/>
                국립한글박물관 강당 / 강의실1 / 강의실2
            </div>

        </div>
        <div class="balloon">
            지극히 착한 것은 마치 물과 같다는 뜻으로, 물을 이 세상에서
            으뜸가는 선의 표본으로 여기어 이르던 말입니다.
        </div>
    </div>
    <div class="timetable" id="day16_timetable">
        <div class="concept_direction">
            <img src="/images/other/program_icon_01.png" alt="강연"/> 강연
            <img src="/images/other/program_icon_02.png" alt="포럼"/> 포럼
            <img src="/images/other/program_icon_03.png" alt="워크숍"/> 워크숍
            <img src="/images/other/program_icon_04.png" alt="이벤트"/> 이벤트
        </div>
        <table>
            <tr class="border_bottom">
                <td>09:30 ~ 10:00</td>
                <td colspan="6" width="84%">등록
                  <div class="oneline_location">중앙박물관 대강당 앞 로비</div></td>
            </tr>
            <tr class="border_bottom">
                <td>10:00 ~ 10:20(20')</td>
                <td colspan="6" class="h60">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">인사말</span> Wikihow
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>10:20 ~ 11:00(40')</td>
                <td colspan="6" class="h60">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">키노트</span> Ryan Merkley_CC CEO
                    </div>
                </td>
            </tr>
            <tr class="border_bottom first-sessions h180" style="vertical-align: top;">
                <td>11:00 ~ 12:30(90')</td>
<!--
                <td width="14%">
                    <div class="whiteorange_light left corner_all first box" data-rel="16-01">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">오픈글램</span>
                        <ul>
                            <li><b>박물관과 도서관을 리믹스하다 - 기관을 위한 개방과 협업</b><br>Andres Guadamuz</li>
                            <li><b>오픈글램과 CC</b><br>Kat Braybrooke</li>
                        </ul>
                    </div>
                </td>
-->
                <td width="14%">
                    <div class="whiteorange_light left corner_all box" data-rel="16-02" style="height: auto;">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">공유도시</span>
                        <ul>
                            <li><b>공유 서울의 3년간의 시도, 그리고 미래</b><br>전효관_서울시 사회혁신 기획관</li>
                            <li><b>암스테르담의 공유도시 움직임</b><br>Pieter Bas van de Glind_Share NL</li>
                            <li><b>공유도시 파트너쉽 사례</b><br>이상현_에어비앤비 코리아 정책 담당</li>
                            <li><b>도시의 주차 문제 해결을 위한 협력</b><br>김동현_모두의 주차장 </li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteorange_light left corner_all first box" data-rel="16-01">
                        <div class="location">중앙박물관 소강당</div>
                        <span class="h2">공정이용</span>
                        <ul>
                            <li><b>공정이용</b><br>윤종수</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-03">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">OER</span>
                        <ul>
                            <li><b>OER - 대안에서 주류로!</b><br>Cable Green_CC 글로벌 OER 디렉터</li>
                            <li><b>획기적인 변화를 위한 OER 모델의 재정립</b><br>TJ Bliss_휴렛 재단</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    &nbsp;
                </td>
                <td width="14%">
                    &nbsp;
                </td>
                <td width="14%">
                    &nbsp;
                </td>
            </tr>
            <tr class="border_bottom">
                <td>12:30 ~ 14:00</td>
                <td colspan="6">점심 + 포스터 세션 + 라이트닝토크</td>
            </tr>
            <tr class="border_bottom second-sessions h120">
                <td>14:00 ~ 15:00(60')</td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-04">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">전세계의 공유 운동 사례</span>
                        <ul>
                            <li><b>공유하고 또 공유하라</b><br>정진호_J비주얼스쿨 대표</li>
                            <li><b>음악 정보가 필요하세요? 400만곡 정보를 공유합니다.</b><br>류형규_매니아 DB</li>
                            <li><b>오픈 거버먼트: 서울시의 사례를 중심으로</b><br>김기병_서울시 통계데이터담당관</li>
                            <li><b>Open Access Korea</b><br>국립중앙도서관</li>
                            <li><b>Free Music Week</b><br>Jorge Gabriel Jimenez_CC Guatemala</li>
                            <li><b>Luxi Island OER Summer Camp</b><br>Liu Ping_CC China Mainland</li>
                        </ul>
                    </div>
                </td>
                <td width="14%" rowspan="3" id="kcc_session">
                    <div class="whiteorange_light left corner_all angel" data-rel="16-05">
                        <div class="location">중앙박물관 소강당</div>
                        <span class="h2">한국저작권위원회 창조자원화 포럼</span>
                        <ul>
                            <li>한국저작권위원회에서 주관하는 무료 행사로 참가신청은 별도로 받습니다.</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-06">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">저작권 개혁</span>
                        <ul>
                            <li><b>저작권 개혁을 위한 효과적 방안의 모색</b><br>Parker Higgins</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-07">
                        <div class="location">한글박물관 강당</div>
                        <span class="h2">CCL 번역</span>
                        <ul>
                            <li><b>CCL 번역, 지난 1년의 성과와 교훈</b><br>Diane Peters_CC 법률 고문</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-08">
                        <div class="location">한글박물관 강의실1</div>
                        <span class="h2">오픈글램</span>
                        <ul>
                            <li><b>기관의 효과적인 오픈라이선스 정책 도입</b><br>Klaudia Grabowska</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
<!--
                    <div class="whitepurple_light left corner_all box" data-rel="16-09">
                        <div class="location">한글박물관 강의실2</div>
                        <span class="h2">디지털 기술과 공유</span>
                        <ul>
                            <li><b>동영상 공유저작물의 활성화 방안</b><br>Ben Moskowitz</li>
                        </ul>
                    </div>
 -->
                </td>
            </tr>
            <tr class="border_bottom">
                <td>15:00 ~ 15:30(30')</td>
                <td colspan="6">휴식</td>
            </tr>
            <tr class="border_bottom third-sessions h350">
                <td>15:30 ~ 16:50(80')</td>
                <td width="14%">
                    <div class="whiteblue_light left corner_all box" data-rel="16-09">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">OER</span>
                        <ul>
                            <li><b>교사를 위한 OER 가이드 워크샵</b><br>Anna Stokowska, Kamil &Aring;&scaron;liwowski, Alek Tarkowski</li>
                            <li><b>OER 사례 발표</b><br>Mostafa Azad Kamal, Bekka Kahn, George Abdelnour</li>
                            <li><b>스쿨 오브 오픈 프로젝트, 제1막을 마무리하며</b><br>Simeon Oriko</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-11">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">오픈액세스</span>
                        <ul>
                            <li><b>학술논문 저작자와 출판권</b><br>Diane Peters, Thomas Margoni, Michael Wolfe, Ignasi Labastida</li>
                            <li><b>오픈액세스 버튼 프로젝트</b><br>Maarten Zeinstra, Paul Keller, Primavera De Filippi</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteblue_light left corner_all box" data-rel="16-12">
                        <div class="location">한글박물관 강당</div>
                        <span class="h2">CCL과 오픈라이선스</span>
                        <ul>
                            <li><b>집단지성을 통한 지식의 공유와 CCL의 역할</b><br>Stephen LaPorte</li>
                            <li><b>온라인 플랫폼을 위한 CCL 가이드라인</b><br>Sarah Pearson</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box" data-rel="16-13">
                        <div class="location">한글박물관 강의실1</div>
                        <span class="h2">저작권 개혁</span>
                        <ul>
                            <li><b>EFF와 CC의 저작권 개혁 운동 협업 방안의 모색</b><br>Maira Sutton_전자프론티어재단(EFF)</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteblue_light left corner_all box" data-rel="16-10">
                        <div class="location">한글박물관 강의실2</div>
                        <span class="h2">오픈데이터</span>
                        <ul>
                            <li><b>데이터 공유가 가져온 기적 - 네팔 지진의 사례</b><br>Heather Leson</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:00 ~ 17:20(20')</td>
                <td colspan="6">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">지속가능한 생태계를 위한 인터넷</span> 전길남
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:20 ~ 18:00(40')</td>
                <td colspan="6">
                    <div class="whiteorange_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">대담: 자유로운 인터넷</span> 전길남, Yochai Benkler
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>20:00 ~ 22:00</td>
                <td colspan="6">
                    <div class="whitegreen_light left corner_all oneline">
                        <span class="h2">CC 파티</span> (<a href="https://docs.google.com/forms/d/1dztoUzY0vG8rTMXpGLOzCEa0OQlepEUtU1e6XtYLHkg/viewform?usp=send_form" target="_blank">파티참가 신청하기</a>)
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
