<div class="day_detail" id="day15_detail">
    <div class="day_concept end_bar" id="day15_concept">
        <div class="date">10.15 (목)</div>
        <div class="concept_title">Celebration of Sharing: 우공이산(愚公移山)</div>
        <div class="concept_description">
            공유, 개방의 의미와 가치를 토대로 이루어낸 크고 작은 변화들을 나누는 자리입니다.
        </div>
        <div class="day_location">
            <img src="/images/other/bullet.png" alt="-"/> 장소
            <div style="margin-top: 10px; line-height: 140%;">
                국립중앙박물관 대강당 / 강의실1
                <br/>
                국립한글박물관 강당
            </div>
        </div>
        <div class="balloon">
            우공이 산을 옮긴다는 뜻으로, 어떤 일이든 끊임없이 노력하면
            반드시 이루어짐을 이르는 말입니다.
        </div>
    </div>
    <div class="timetable" id="day15_timetable">
        <div class="concept_direction">
            <img src="/images/other/program_icon_01.png" alt="강연"/> 강연
            <img src="/images/other/program_icon_02.png" alt="포럼"/> 포럼
            <img src="/images/other/program_icon_03.png" alt="워크숍"/> 워크숍
            <img src="/images/other/program_icon_04.png" alt="이벤트"/> 이벤트
        </div>
        <table>
            <tr class="border_bottom">
                <td width="16%">09:30 ~ 10:00</td>
                <td colspan="3">등록</td>
            </tr>
            <tr class="border_bottom h60">
                <td>10:00 ~ 10:10</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">인사말</span> 서정욱_CC Korea 이사장
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>10:10 ~ 10:30</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">축사</span>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>10:30 ~ 11:00(30')</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">크리에이티브 커먼즈를 재정의하다</span> 윤종수_CCKorea 프로젝트 리드
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>11:00 ~ 11:30(30')</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">커먼즈 개념과 자본주의의 미래</span> Yochai Benkler_하버드 로스쿨 교수
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>11:30 ~ 12:00(30')</td>
                <td colspan="3">
                    <div class="whiteorange_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">디지털 시대의 창조적 공유 자원의 중요성</span> 윤종수, Yochai Benkler, Ryan Merkley
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>12:00 ~ 13:30</td>
                <td colspan="3">점심식사</td>
            </tr>
            <tr class="border_bottom h120">
                <td>13:30 ~ 14:50(80')</td>
                <td style="width: 28%;" rowspan="2">
                    <div class="whiteblue_light left corner_all track1" data-rel="15-track1" style="height: 270px;">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">트랙 1. 오픈 지식</span>
                        <ul>
                            <li><b>전세계 OER 운동의 현황</b><br>Cable Green_CC 글로벌 러닝 디렉터</li>
                            <li><b>유럽의 문화 예술을 디지털로 스캔하다</b><br>Paul Keller_유로피아나</li>
                            <li><b>공유저작물 창조자원화 전략</b><br>문화체육관광부</li>
                        </ul>
                    </div>
                </td>
                <td style="width: 28%;" rowspan="2">
                    <div class="whiteblue_light left corner_all track2" data-rel="15-track2" style="height: 270px;">
                        <div class="location">중앙박물관 세미나실</div>
                        <span class="h2">트랙2: 오픈 비즈니스</span>
                        <ul>
                            <li><b>오픈 비즈니스의 성공 전략</b><br>Paul Stacey_CC 글로벌 오픈 비즈니스 대표</li>
                            <li><b>Photo Commons</b><br>Nuno Silva</li>
                            <li><b>공개된 CCL 음원의 비즈니스 모델</b><br>도희성_원트리즈뮤직 대표</li>
                        </ul>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr class="border_bottom h60">
                <td>14:10 ~ 14:50(40')</td>
                <td>
                    <div class="whitepurple_light left corner_all art-showcase" data-rel="15-art-showcase" style="width: 39%; float:left;">
                        <div class="location">한글박물관 강당</div>
                        <span class="h2">CC 아트 쇼케이스</span>
                        <ul>
                          <li><b>카툰(Khartoon)!</b><br>Khalid Albaih</li>
                          <li><b>3D와 CC</b><br>Mahmoud Abu-Wardeh</li>
                          <li><b>롱 로드 프로젝트</b><br>Reda Zine</li>
                        </ul>
                    </div>
                    <div class="whitepurple_light left corner_all art-showcase" style="width: 39%; float: right;">
                        <div class="location">한글박물관 강의실1</div>
                        <span class="h2">CC 기술팀 - 로드맵과 더 리스트</span>
                        <ul>
                          <li><b>CC 기술팀 로드맵과 더 리스트</b><br>Matt Lee, Rob Myers</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>15:00 ~ 15:30(30')</td>
                <td colspan="3">Break</td>
            </tr>
            <tr class="border_bottom">
                <td>15:30 ~ 16:50(80')</td>
                <td width="28%">
                    <div class="whiteblue_light left corner_all track3" data-rel="15-track3">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">트랙 3. 오픈 데이터</span>
                        <ul>
                            <li><b>정부3.0과 공공데이터 개방 및 활용</b><br>강동석_한국정보화진흥원</li>
                            <li><b>학술 데이터의 공유 플랫폼: Datanest</b><br>김선태_한국과학기술정보연구원</li>
                            <li><b>IoT와 오픈데이터</b><br>Naeema Zarif_CC 아랍 지역 코디네이터</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whiteblue_light left corner_all track4" data-rel="15-track4">
                        <div class="location">중앙박물관 세미나실</div>
                        <span class="h2">트랙 4. DIY</span>
                        <ul>
                            <li><b>오픈소스 인공위성 프로젝트</b><br>송호준_미디어 아티스트</li>
                            <li><b>프로그래밍의 첫걸음 엔트리</b><br>김지현_엔트리교육연구소 대표</li>
                            <li><b>3D 프린터 기술의 진화</b><br>Michael Weinberg_Shapeways 법률고문</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whitepurple_light left corner_all creative-workshop" data-rel="15-track5" style="width: 39%; float:left;">
                        <div class="location">한글박물관 강당</div>
                        <span class="h2">오픈글램</span>
                        <ul>
                            <li><b>박물관과 도서관을 리믹스하다 - 기관을 위한 개방과 협업</b><br>Andres Guadamuz</li>
                            <li><b>오픈글램과 CC</b><br>Kat Braybrooke</li>
                        </ul>
                    </div>
                    <div class="whitepurple_light left corner_all art-showcase" style="width: 39%; float: right;">
                        <div class="location">한글박물관 강의실1</div>
                        <span class="h2">CC 기술팀 - 검색과 라이선스 선택기</span>
                        <ul>
                          <li><b>CC 기술팀 - 검색과 라이선스 선택기</b><br>Matt Lee, Rob Myers</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:00 ~ 17:30(30')</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">경계를 허무는 나비의 실험</span> 노소영_나비아트센터 관장
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:30 ~ 18:00(30')</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">위키백과의  리-챌린지(re-challenge)</span> Lila Tretikov_위키미디아 재단 사무국장
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
