<div class="day_detail" id="day14_detail">
    <div class="day_concept end_bar" id="day14_concept">
        <div class="date">10.14 (WED)</div>
        <div class="concept_title">Welcome 파티</div>
        <div class="concept_description">
            * 14일 일정은 CC affiliate 대상으로 비공개로 진행됩니다.
        </div>
    </div>
    <div class="timetable" id="day14_timetable">
        <div class="concept_direction"><img src="/images/other/bullet.png" alt="-"/> 장소 미정</div>
        <table>
            <tr class="h120 border_bottom">
                <td>10:00 ~ 15:00</td>
                <td class="h120 p5855">
                    <div class="table gray_light corner_all">
                        <div class="tr">
                            <div class="td h2">대륙별 미팅</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>16:00 ~ 19:00</td>
                <td>휴식</td>
            </tr>
            <tr class="h120">
                <td>19:00 ~ 22:00</td>
                <td class="h120 p5855">
                    <div class="table gray_light corner_all">
                        <div class="tr">
                            <div class="td h2">Welcome Party</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>