<div class="day_detail" id="day16_detail">
    <div class="day_concept end_bar" id="day16_concept">
        <div class="date">10.16 (금)</div>
        <div class="concept_title">Work of Sharing: 상선 약수(上善若水)</div>
        <div class="concept_description">
            여러가지 형태로 존재하고 사물에 생명을 불어넣으며 모이고 모여 바다로 흘러나가는 특징이 우리가 추구해온 공유, 개방의 가치와 상통합니다.
        </div>
        <div class="day_location">
            <img src="/images/other/bullet.png" alt="-"/> 장소
            <div style="margin-top: 10px; line-height: 140%;">
                국립중앙박물관 대강당 / 소강당 / 세미나실
                <br/>
                국립한글박물관 강당 / 강의실1 / 강의실2
            </div>

        </div>
        <div class="balloon">
            지극히 착한 것은 마치 물과 같다는 뜻으로, 물을 이 세상에서
            으뜸가는 선의 표본으로 여기어 이르던 말입니다.
        </div>
    </div>
    <div class="timetable" id="day16_timetable">
        <div class="concept_direction">
            <img src="/images/other/program_icon_01.png" alt="강연"/> 강연
            <img src="/images/other/program_icon_02.png" alt="포럼"/> 포럼
            <img src="/images/other/program_icon_03.png" alt="워크샵"/> 워크샵
            <img src="/images/other/program_icon_04.png" alt="이벤트"/> 이벤트
        </div>
        <table>
            <tr class="border_bottom">
                <td>09:30 ~ 10:00</td>
                <td colspan="6" width="84%">등록</td>
            </tr>
            <tr class="border_bottom">
                <td>10:00 ~ 10:05(5')</td>
                <td colspan="6" class="h60">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">인사말</span>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>10:05 ~ 10:30(25')</td>
                <td colspan="6" class="h60">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">키노트</span> Ryan Merkley_CC CEO
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>10:30 ~ 10:50(20')</td>
                <td colspan="6" class="h60">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">키노트</span> 미정
                    </div>
                </td>
            </tr>
            <tr class="border_bottom first-sessions h180">
                <td>11:00 ~ 12:30(90')</td>
                <td width="14%">
                    <div class="whiteorange_light left corner_all first box">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">오픈글램</span>
                        <ul>
                            <li><b>박물관과 도서관의 개방 정책과 열린 조직문화</b><br>Andres Guadamuz</li>
                            <li><b>오픈글램과 CC</b><br>Kat Braybrooke</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">중앙박물관 소강당</div>
                        <span class="h2">공유도시</span>
                        <ul>
                            <li><b>도시, 공유의 가치를 재발견하다</b><br>미정</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">OER</span>
                        <ul>
                            <li><b>글로벌 OER 현황 및 활성화 전략</b><br>Cable Green_CC 글로벌 OER 디렉터</li>
                            <li><b>OER 운동의 미래</b><br>TJ Bliss_휴렛 재단</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    &nbsp;
                </td>
                <td width="14%">
                    &nbsp;
                </td>
                <td width="14%">
                    &nbsp;
                </td>
            </tr>
            <tr class="border_bottom">
                <td>12:30 ~ 13:30</td>
                <td colspan="6">점심 + 포스터 세션 + 라이트닝토크</td>
            </tr>
            <tr class="border_bottom second-sessions h120">
                <td>14:00 ~ 15:00(60')</td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">쇼케이스</span>
                    </div>
                </td>
                <td width="14%" rowspan="3" id="kcc_session">
                    <div class="whiteorange_light left corner_all angel">
                        <div class="location">중앙박물관 소강당</div>
                        <span class="h2">저작위 창조자원화 포럼</span>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">저작권개선</span>
                        <ul>
                            <li><b>효과적인 저작권 개혁을 위한 방안</b><br>Maira Sutton_전자프론티어재단(EFF)</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">한글박물관 강당</div>
                        <span class="h2">CCL 번역</span>
                        <ul>
                            <li><b>CC 라이선스 번역, 지난 1년의 성과와 이슈</b><br>Diane Peters_CC 법률 고문</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">한글박물관 강의실1</div>
                        <span class="h2">오픈글램</span>
                        <ul>
                            <li><b>기관의 효과적인 오픈라이선스 정책 도입을 위한 워크샵</b><br>Klaudia Grabowska</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">한글박물관 강의실2</div>
                        <span class="h2">디지털 기술과 공유</span>
                        <ul>
                            <li><b>동영상 공유저작물의 활성화</b><br>모질라, Ryan Merkley</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>15:00 ~ 15:30(30')</td>
                <td colspan="6">Break</td>
            </tr>
            <tr class="border_bottom third-sessions h350">
                <td>15:30 ~ 16:50(80')</td>
                <td width="14%">
                    <div class="whiteblue_light left corner_all box">
                        <div class="location">중앙박물관 대강당</div>
                        <span class="h2">오픈데이터</span>
                        <ul>
                            <li><b>개방을 통한 시민권 운동</b><br>Werner Westermann Ju&#xE1;¡rez</li>
                            <li><b>부르키나파소의 오픈데이터와 CCL</b><br>Abdrahamane Ouedraogo</li>
                            <li><b>인도네시아와 아프리카의 CCL, 오픈데이터, Civic Hacking</b><br>Yuandra, Brian Ssennoga</li>
                            <li><b>오픈 라이선스에 의한 항공사진의 혁신적 이용</b><br>Heather Leson</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteblue_light left corner_all box">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">오픈디자인</span>
                        <ul>
                            <li>디자인과 저작권</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whiteblue_light left corner_all box">
                        <div class="location">중앙박물관 세미나룸</div>
                        <span class="h2">CCL과 오픈라이선스</span>
                        <ul>
                            <li><b>공동의 지식 자산을 위한 오픈 라이선스</b><br>Stephen LaPorte</li>
                            <li><b>CC 라이선스와 플랫폼</b><br>Sarah Pearson</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">한글박물관 강의실1</div>
                        <span class="h2">저작권 개선</span>
                        <ul>
                            <li><b>EFF와 CC의 저작권 개혁 운동 협업 방안의 모색</b><br>Maira and Parker/EFF</li>
                        </ul>
                    </div>
                </td>
                <td width="14%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">한글박물관 강의실2</div>
                        <span class="h2">오픈커뮤니티</span>
                        <ul>
                            <li><b>정부와 기관을 위한 '열린' 협업 활성화 방안 연구</b><br>Bekka Khan from Open Coalition</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:00 ~ 17:20(20')</td>
                <td colspan="6">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">지속가능한 생태계를 위한 인터넷</span> 전길남
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:20 ~ 18:00(40')</td>
                <td colspan="6">
                    <div class="whiteorange_light left corner_all oneline">
                        <div class="oneline_location">중앙박물관 대강당</div>
                        <span class="h2">대담: 자유로운 인터넷</span> 전길남, Yochai Benkler
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>20:00 ~ 22:00</td>
                <td colspan="6">
                    <div class="whitegreen_light left corner_all oneline">
                        <span class="h2">CC 파티</span> (신청자에 한함)
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
