<div class="day_detail" id="day17_detail">
    <div class="day_concept end_bar" id="day17_concept">
        <div class="date">10.17 (토)</div>
        <div class="concept_title">Future of Sharing: 수구초심(首邱初心)</div>
        <div class="concept_description">
            처음 CC운동의 시작할때로 돌아가서 우리 활동의 본질을 돌아보고 앞으로 우리의 활동을 그려보는 시간입니다.
        </div>
        <div class="day_location">
            <img src="/images/other/bullet.png" alt="-"/> 장소
            <div style="margin-top: 10px; line-height: 140%;">
                콘텐츠코리아랩 컨퍼런스룸 / 아이디어 빌리지 / 오픈 스페이스
            </div>
        </div>
        <div class="balloon">
            여우는 죽을 때 구릉을 향(向)해 머리를 두고 초심으로 돌아간다라는 뜻입니다.
        </div>
    </div>
    <div class="timetable" id="day17_timetable">
        <div class="concept_direction">
            <img src="/images/other/program_icon_01.png" alt="강연"/> 강연
            <img src="/images/other/program_icon_02.png" alt="포럼"/> 포럼
            <img src="/images/other/program_icon_03.png" alt="워크숍"/> 워크숍
            <img src="/images/other/program_icon_04.png" alt="이벤트"/> 이벤트
        </div>
        <table>
            <tr class="border_bottom">
                <td width="16%">10:00 ~ 10:20</td>
                <td width="84%" class="h60" colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">컨퍼런스룸</div>
                        <span class="h2">개회사</span>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td width="16%">10:20 ~ 11:00(40')</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">컨퍼런스룸</div>
                        <span class="h2">키노트</span> Julia Reda
                    </div>
                </td>
            </tr>
            <tr class="border_bottom first-sessions h120">
                <td width="16%">11:00 ~ 12:30(90')</td>
                <td width="28%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">컨퍼런스룸</div>

                        <span class="h2">저작권 개선</span><br/>
                        <ul>
                            <li><b>저작권 개혁을 위한 실천적 전략</b><br>Tim Volmer, Paul Keller</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">카카오존</div>

                        <span class="h2">오픈디자인</span><br/>
                        <ul>
                            <li><b>디자인의 미래와 CC</b><br>Jane Park</li>
                            <li><b>3D 프린팅과 저작권</b><br>Mahmoud Abu-Wardeh, Michael Weinberg</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">아이디어빌리지</div>

                        <span class="h2">커뮤니티</span><br/>
                        <ul>
                            <li><b>Affiliates 정책을 재정비하다</b><br>John Weitzmann</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>12:30 ~ 13:30</td>
                <td colspan="3">점심식사</td>
            </tr>
            <tr class="border_bottom second-sessions h180">
                <td>13:30 ~ 15:00(90')</td>
                <td width="28%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">컨퍼런스룸</div>

                        <span class="h2">공유문화</span><br/>
                        <ul>
                            <li><b>콘텐츠 공유와 공동체 문화의 지속가능한 발전</b><br>Jane Park, Ryan Merkley, Eric Steur</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">카카오존</div>

                        <span class="h2">커뮤니티</span><br/>
                        <ul>
                            <li><b>교육기관의 OER 정책 도입 촉진을 위한 전략</b><br>Meredith Jacobs</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whitepurple_light left corner_all box">
                        <div class="location">아이디어빌리지</div>

                        <span class="h2">CCL</span><br/>
                        <ul>
                            <li><b>블록체인 기술을 활용한 공유저작물의 활성화</b><br>Primavera De Filippi</li>
                            <li><b>Rightsstatements.org: 유로피아나와 CC의 호환가능한 저작권 라이선스 표준 정립</b><br>Diane Peters, Paul Keller, Maarten Zeinstra</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>15:00 ~ 15:30</td>
                <td colspan="3">Break</td>
            </tr>
            <tr class="border_bottom third-sessions h180">
                <td>15:30 ~ 17:00(90')</td>
                <td width="28%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">컨퍼런스룸</div>

                        <span class="h2">커뮤니티</span><br/>
                        <ul>
                            <li><b>Affiliates 2.0: CC Affiliate 네트워크의 미래 </b><br>Alek Tarkowski, Paul Keller</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whiteblue_light left corner_all box">
                        <div class="location">카카오존</div>

                        <span class="h2">OER</span><br/>
                        <ul>
                            <li><b>교사를 위한 OER 툴킷 개발</b><br>Anna Stokowska, Kamil Åšliwowski, Alek Tarkowski</li>
                            <li><b>OER 사례발표</b><br>Mostafa Azad Kamal, Bekka Kahn, George Abdelnour</li>
                            <li><b>스쿨오브오픈 프로젝트, 제1막을 마무리하며</b><br>Simeon Oriko</li>
                        </ul>
                    </div>
                </td>
                <td width="28%">
                    <div class="whiteorange_light left corner_all box">
                        <div class="location">아이디어빌리지</div>

                        <span class="h2">디자인과 CCL</span><br/>
                        <ul>
                            <li><b>디자인의 미래와 오픈 하드웨어 라이선스 CC+Design</b><br>Thomas Margoni, McCoy Smith, Diane Peters</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border_bottom">
                <td>17:00 ~ 17:40(40')</td>
                <td colspan="3">
                    <div class="whiteblue_light left corner_all oneline">
                        <div class="oneline_location">컨퍼런스룸</div>
                        <span class="h2">키노트</span> Carolina Botero, Jessica Coates
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
