<div class="mobile_day_detail" id="day14">
    <div class="date">10.14 (수)</div>
    <div class="day_concept">
        환영 행사
    </div>
    <div class="wrap" style="">
        <div class="day_description" style="margin-top: 29px; margin-bottom: 29px;">
            <img src="/images/other/bullet.png" alt="-" /> 14일 일정은 CC Affiliate 대상으로 비공개로 진행
        </div>
    </div>

    {% for box in site.data.day14_programs %}
    <div class="time_box">
        <div class="time">{{ box.time }}</div>
        <div class="time_detail">
            {% for s in box.sessions %}
            <div class="sessions {{s.box}}">
                {% if s.location %}
                <div class="location">{{ s.location }}</div>
                {% endif %}
                <div class="title">{{ s.title }}</div>
                {% if s.detail %}
                <div class="detail">{{ s.detail }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>