<div class="day_detail" id="day14_detail">
    <div class="day_concept end_bar" id="day14_concept">
        <div class="date">10.14 (수)</div>
        <div class="concept_title">환영 행사</div>
        <div class="concept_description">
            <img src="/images/other/bullet.png" alt="-"/> 14일 일정은 CC Affiliate 대상으로 비공개로 진행됩니다.
        </div>
    </div>
    <div class="timetable" id="day14_timetable">
        <table>
            <tr class="h120 border_bottom">
                <td>12:00 ~ 18:00</td>
                <td class="h120 p5855">
                    <div class="table gray_light corner_all" style="padding: 10px; width: calc(100% - 20px);">
                        <div class="tr">
                            <div class="td h2">대륙별 미팅, 미니컨퍼런스</div>
                        </div>
                    </div>
                </td>
            </tr>
            <!--<tr class="border_bottom">-->
                <!--<td>18:00 ~ 19:30</td>-->
                <!--<td>휴식</td>-->
            <!--</tr>-->
            <tr class="h120">
                <td>18:00 ~ </td>
                <td class="h120 p5855">
                    <div class="table gray_light corner_all" style="padding: 10px; width: calc(100% - 20px);">
                        <div class="tr">
                            <div class="td h2">환영 파티</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
