  <!-- Footer -->
  <footer class="text-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <p class="pull-right"><a rel="license" href="http://creativecommons.org/licenses/by/2.0/kr/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/kr/88x31.png"></a></p>
        </div>
        <div class="col-lg-9">
          <p>20{{ site.time | date: '%y' }} Creative Commons Korea. Some Rights Reserved.</p>
          <p>달리 정하지 않은 웹사이트의 모든 내용은 크리에이티브 커먼즈 저작자표시 2.0 대한민국 라이선스에 따라 이용할 수 있습니다.<br />
          자세한 이용기능 내용과 허락조건은 <a href="http://creativecommons.org/licences/by/2.0/kr" target="_blank">http://creativecommons.org/licences/by/2.0/kr</a> 를 보세요.</p>
          <p><a class="github" target="_blank" href="{{ site.github.repository_url }}"><i class="fa fa-github-alt"></i> 웹사이트 코드</a>도 자유롭게 사용할 수 있습니다. 오타를 발견하면 <a class="github" target="_blank" href="{{ site.github.issues_url }}">이슈</a>를 작성해주세요.</p>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
