<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <title>CC Global Summit 2015</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% include twitter_card.html %}
    {% include opengraph.html %}
    <link href="/images/base/favicon.ico" title="Icon" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?v=09111651">
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="/css/scrollToTop.css?v=09111651"/>
    <link rel="stylesheet" href="/css/easing.css"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie8.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->
    <!--<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />-->
    <script type="text/javascript">
//        $(document).ready(function(){
//            $('#apply_summit_btn').click(function(){
//                location.href='attend.html';
//            });
//        });
    </script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollLock.js"></script>
    <script src="/js/introduce.js"></script>
    <script src="/js/jquery-scrollToTop.min.js"></script>
    <!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if !IE]><!--><script>
    // hack for IE >= 10
    if (/*@cc_on!@*/false) {
        document.documentElement.className+=' ie10';
    }
</script><!--<![endif]-->
</head>
