  <!-- Header -->
  <header>
    <div class="container">
      <div id="misc" class="text-right">
        <a href="http://summit.creativecommons.org" target="_blank">English</a>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <a href="http://creativecommons.org" target="_blank"><img id="cc-logo" src="/img/cc-logo.png" alt="CC" /></a>
          <img class="img-responsive" src="/img/header-title.png" alt="2015 CC Global Summit" />
        </div>
      </div>
    </div>
  </header>
