
  <section id="logo-open">
    <div class="container">

      <div class="row notice">

        <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">

          <div class="contents">

            <div class="application">
              <div class="ap-content">
                <p><img class="img-responsive img-centered" src="/img/logo-icon.png" alt="icon" /></p>
                <p>&nbsp;</p>
                <hr />
                <img id="logo-heading" class="img-centered img-responsive" src="/img/logo-open.png" alt="로고를 공모합니다." />
                <div class="text text-center">
                  <p>10월, 한국에서 펼처질 공유와 개방의 이야기를 여러분의 손으로 직접 들려주세요.<br />
                  숨은 고수, 디자이너, 일러스트레이터 분들의  많은 참여를 기다립니다.</p>
                </div>
              </div>
            </div>

            <div class="row sub-section">
              <div class="col-sm-8 col-sm-offset-2 box">
                <div class="card">
                  <div class="details">
                    <ul>
                      <li><span class="title">접수 기간</span>  2015. 5. 11 ~ 2015. 5. 31</li>
                      <li><span class="title">참가 방법</span>  온라인 접수 </li>
                      <li class="notes">자세한 내용은 추후 공지 합니다. </li>
                    </ul>
                  </div>
                </div>
                <p><a href="http://cckorea.org" target="_blank"><img class="cck img-responsive img-centered" src="/img/logo-cck.png" alt="cckorea" /></a></p>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- .notice -->

      <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>CC Global Summit 2015의 후원, 프로그램 공동 기획, 언론 보도 등을 함께 하고 싶으신 분은 언제든지 연락주세요!</h2>
          <p><strong>오픈소스 개발자, 오픈 콘텐츠 작업자, 박물관/ 미술관/ 도서관 담당자, 관련 정부 기관, 기업, 커뮤니티 등과의 협력을 기다립니다.</strong></p>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-8 col-xs-offset-2">
              <img class="img-responsive img-centered" src="/img/contact.png" alt="contact" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
