
  <section id="mailing-lists">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img class="img-responsive img-centered headline" src="/img/mailing-heading.png" alt="공유와 개방의 가치" />

          <p>
          자세한 프로그램 소식을 받아보고 싶으신 분은 이메일을 등록해주세요!<br />
          CC Global Summit 2015 프로그램이 확정되고, 공식 웹사이트가 오픈하면 여러분께  연락 드립니다.
          </p>

          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup" class="center-block clearfix">
            <form action="//sharehub.us7.list-manage.com/subscribe/post?u=876a9cd4f2ec11ed97a32b47e&amp;id=32f8471837" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="이메일 주소를 등록해주세요" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_876a9cd4f2ec11ed97a32b47e_32f8471837" tabindex="-1" value=""></div>
                <input type="submit" value="등록" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </section>
