<div class="wrap partner_wrap first end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">엔젤 후원사</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="https://londontrustmedia.com/" target="_blank">
                            <img src="/images/sponsors/PIA.png" alt="" class="othersize w320"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="https://www.korra.kr/" target="_blank">
                            <img src="/images/sponsors/korra.png" alt="" class="othersize w320"/>
                        </a>
                        <p>*한국복제전송저작권협회의 저작권 미분배보상금에서 일부 후원합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
    </section>
</div>
<div class="wrap partner_wrap end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">플래티넘 후원사</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.mcst.go.kr/main.jsp" target="_blank">
                            <img src="/images/sponsors/mocst.png" alt="" />
                        </a>
                    </div>
                    <div class="logos othersize w60p">
                        <a href="https://stackcommerce.com/" target="_blank">
                            <img src="/images/sponsors/stackcommerce.png" alt="" class="othersize w240" />
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.macfound.org/" target="_blank">
                            <img src="/images/sponsors/macarthur.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">골드 후원사</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row">

                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="https://www.mozilla.org/en-US/foundation/" target="_blank">
                            <img src="/images/sponsors/mozilla.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.google.com/" target="_blank">
                            <img src="/images/sponsors/googlekorea.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.naver.com/" target="_blank">
                            <img src="/images/sponsors/naver.png" alt=""/>
                        </a>
                    </div>
                </div>

            </div>

            <div class="t_row">

                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.kakaocorp.com/" target="_blank">
                            <img src="/images/sponsors/kakao.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.airbnb.co.kr/" target="_blank">
                            <img src="/images/sponsors/airbnb.png" alt="에어비앤비" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="wrap partner_wrap end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">실버 후원사</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.visitseoul.net/" target="_blank">
                            <img src="/images/sponsors/seoulcity.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.wikimedia.org/" target="_blank">
                            <img src="/images/sponsors/wikimedia.png" alt=""/>
                        </a>
                    </div>

                    <div class="logos">
                        <a href="http://www.wikihow.com/" target="_blank">
                            <img src="/images/sponsors/wikihow.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.kisti.re.kr/" target="_blank">
                            <img src="/images/sponsors/logo_sp_sil_kisti.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="https://www.nia.or.kr/" target="_blank">
                            <img src="/images/sponsors/nia.png" alt="NIA" />
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.nl.go.kr/" target="_blank">
                            <img src="/images/sponsors/nlk.png" alt="국립중앙도서관" />
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://kto.visitkorea.or.kr/" target="_blank">
                            <img src="/images/sponsors/visitkorea.png" alt="한국관광공사" />
                        </a>
                    </div>
                    <div class="logos">
                        <a href=" http://www.moi.go.kr" target="_blank">
                            <img src="/images/sponsors/moi.png" alt="행정자치부" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">브론즈 후원사</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                      <a target="_blank" href="http://lumenlearning.com/">
                        <img style="max-width: 200px;" src="/images/sponsors/lumen.png" alt="">
                      </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.ibusiness.co.kr/" target="_blank">
                            <img src="/images/sponsors/rehoboth.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.li-st.com" target="_blank">
                            <img src="/images/sponsors/LiST.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">파트너</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row othersize">
                <div class="sponsor_logos">
                    <div class="logos othersize">
                        <a href="http://www.nabi.or.kr/" target="_blank">
                            <img src="/images/sponsors/nabi.png" alt="nabi" class="othersize w320" />
                        </a>
                    </div>
                    <div class="logos othersize">
                        <a href="http://www.iamport.kr" target="_blank">
                            <img src="/images/sponsors/iamport.png" alt="iamport" class="othersize" style="width: 150px;" />
                        </a>
                    </div>
                    <div class="logos othersize">
                        <a target="_blank" href="http://www.arcadiafund.org.uk/"><img style="max-width: 150px;" src="/images/sponsors/arcadia.png" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="wrap partner_wrap end_bar">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="title">미디어파트너</div>
            </div>
            <div class="guide_bar"></div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.bloter.net/" target="_blank">
                            <img src="/images/sponsors/bloter.png" alt="bloter"/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://platum.kr/" target="_blank">
                            <img src="/images/sponsors/platum.png" alt="platum"/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.venturesquare.net" target="_blank">
                            <img src="/images/sponsors/vs.jpg" alt="venture square"/>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<style>
  .partner_wrap .sponsor_logos .logos {
    margin-top: 15px;
    margin-bottom: 30px;
  }
</style>
