<div class="wrap partner_wrap first">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="end_bar title">엔젤 후원사</div>
            </div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="https://londontrustmedia.com/" target="_blank">
                            <img src="/images/sponsors/privateinternetaccess.png" alt="" style="width: 100%;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="end_bar title">플래티넘 후원사</div>
            </div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.mcst.go.kr/main.jsp" target="_blank">
                            <img src="/images/sponsors/mocst.png" alt="" style="width: 240px;"/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.macfound.org/" target="_blank">
                            <img src="/images/sponsors/macarthur.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://stackcommerce.com/" target="_blank">
                            <img src="/images/sponsors/stackcommerce.png" alt="" style="width: 250px;"/>
                        </a>
                    </div>
                    <div class="logos">
                        <!--<a href="https://www.korra.kr/jsp/eng/EngCtrl.jsp" target="_blank">-->
                        <!--<img src="/images/sponsors/logo_sp2_plat_korra_50x281.png" alt="" style=""/>-->
                        <!--</a>-->
                        <div class="info"><a href=" https://www.korra.kr/jsp/board/BoardCtrl.jsp?ACT_CD=DVW&SET_BBS_ID=notice&SET_BBS_CONTROL=INFO_100000100000000000&SET_BBS_NAVI=%C1%A4%BA%B8%2F%BE%CB%B8%B2%2F%BB%F3%B4%E3+%3E+%BE%CB%B8%B2%2F%BB%F3%B4%E3+%3E+%B0%F8%C1%F6%BB%E7%C7%D7&BBS_ID=notice&L=null&M=null&S=null&menuCodeL=null&SEQ=3907&PAGE_NO=3&SEQ_FILE=&TITLE=&LIST_TOTAL_COUNT=305&S_SELECT=TITLE&S_KEYWORD=" target="_blank">*한국복제전송저작권협회의 저작권 미보상 기금에서 일부 후원합니다.</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap sponsor">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="end_bar title">골드 후원사</div>
            </div>
            <div class="t_row">

                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="https://www.mozilla.org/en-US/foundation/" target="_blank">
                            <img src="/images/sponsors/mozilla.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.google.com/" target="_blank">
                            <img src="/images/sponsors/google.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="http://www.naver.com/" target="_blank">
                            <img src="/images/sponsors/naver.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap sponsor">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="end_bar title">실버 후원사</div>
            </div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://english.seoul.go.kr/" target="_blank">
                            <img src="/images/sponsors/seoulcity.png" alt=""/>
                        </a>
                    </div>
                    <div class="logos">
                        <a href="https://www.wikimedia.org/" target="_blank">
                            <img src="/images/sponsors/wikimedia.png" alt=""/>
                        </a>
                    </div>

                    <div class="logos">
                        <a href="http://www.wikihow.com/" target="_blank">
                            <img src="/images/sponsors/wikihow.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrap partner_wrap sponsor">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="end_bar title">파트너</div>
            </div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.nabi.or.kr/" target="_blank">
                            <img src="/images/sponsors/nabi.png" alt="nabi" style="width: 320px;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="wrap partner_wrap sponsor">
    <section>
        <div class="sponsor_wrap">
            <div class="t_row">
                <div class="end_bar title">미디어파트너</div>
            </div>
            <div class="t_row">
                <div class="sponsor_logos">
                    <div class="logos">
                        <a href="http://www.bloter.net/" target="_blank">
                            <img src="/images/sponsors/bloter.png" alt="bloter"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
