---
layout: base
---

<div class="wrap newsboard_wrap">
    <section>
        <h1 class="title">소식</h1>

        <div class="guide_bar_33"></div>
        <div class="head_description">
            CC 글로벌 써밋 2015의 다양한 소식을 전합니다. <br/>
            준비과정의 에피소드, 연사와의 인터뷰, 서밋 참가 기간동안 필요한 유용한 정보들을 나누는 공간입니다.
        </div>
    </section>
    <article>
        <div class="latest_article_top">
            <div class="title">{{ page.title }}</div>
            <div class="timestamp">{{ page.date | date: "%Y.%m.%d"}}</div>
            <div class="dot"><img src="/images/other/bullet.png" alt="-"/></div>
        </div>
        <div class="latest_article_contents">
            <div class="content_text">
                {{ content }}
            </div>
        </div>
    </article>
    <section>
        <div class="article_list">
            {% for post in site.posts %}
            <div class="article_box">
                <div class="thumbnail">
                    <img src="{{ post.thumbnail }}" style="width: 180px; height: 120px;" />
                </div>
                <div class="abstract_contents">
                    <div class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
                    <div class="timestamp">{{ post.date | date: "%Y.%m.%d"}}</div>
                    <div class="abstract_text">
                        {{ post.abstract }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
